body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

img {
    max-width: 400px;
}

/* header */

.header-and-hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    background-color: #1F2937;
    margin-bottom: 50px;
}

.header-logo-text {
    margin-left: 20px;
    font-size: 24px;
    color: #F9FAF8;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link-headers {
    display: flex;
    gap: 20px;
}

.link-header-1,
.link-header-2,
.link-header-3 {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
} 

.link-header-3 {
    margin-right: 20px;
}

.header-right {
    margin-left: auto;
}

/* hero */

.hero {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 200px;
}

#sign-up-button {
    height: 50px;
    width: 150px;
    align-self: flex-start;  
    margin-top: 10px;
} 

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

.hero-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.hero-subtext {
    color: #E5E7EB;
}

/* info */

.info-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}

img.info-icon,
.info-panel {
    max-width: 200px;
}

/* quote */

.quote {
    background-color: #E5E7EB;
    padding: 100px 0px;
    /* display: flex;
    justify-content: center; */
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    color: #1F2937;
    padding: 50px 150px;
}

#quoter {
    padding: 0px 150px;
    text-align: right;
}

/* call-to-action */

.call-to-action-section {
    padding: 100px 150px;
    display: flex;
    justify-content: center;
}

.call-to-action-container {
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    height: 140px;
    display: flex;
    background-color: #3882F6;
}

.text-container {
    padding-left: 125px;
}

#cta-text-header {
    color: white;
    font-size: 24px;
    margin-bottom: 0px;
}

#cta-text-body {
    color: white;
    margin-top: 0px;
}

#cta-button {
    height: 50px;
    width: 150px;
    border-color: white;
    color: white;
    margin-left: auto;
    margin-right: 75px;
}